<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Парковочное место: {{.Number}}</title>
    <link rel="stylesheet" href="/styles/card.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<div class="search">
    <form action="/home" method="get">
        <input type="search" name="placeNumber" placeholder="Введите номер парковочного места">
        <button type="submit">Поиск</button>
    </form>
</div>

{{range .data}}
    <a href="/parking/{{ .ID }}" class="parking-card">
        <h2 class="parking-number">Number: {{ .Number }}</h2>
        <p class="parking-type">Type: {{ .Type.Name }}</p>
        <p class="parking-floor">Floor: {{ .Floor }}</p>
    </a>
{{end}}

</body>
</html>
