html {
    background-color: #000000;
    color: white;
}

img {
    height: 100%;
}

.card__container {
    display: flex;
    justify-content: center;
}

.card__list {
    width: 50%;
}

.card {
    display: flex;
    border: white 2px solid;
    border-radius: 2em;

    padding: 1em;
    margin: 0 0 3em 0;

    height: 15em;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__description--container {
    width: 50%;
}

.card__description {
    position: relative;
    bottom: 100%;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

.card__description--bgnd {
    height: 100%;
    width: 100%;

    border-radius: 1em;
    background-color: black;
    opacity: 70%;
    transition: opacity 0.4s ease;
}

.card__description--container:hover .card__description--bgnd {
    opacity: 1;
}

.form__container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.form {
    width: 50%;

}

.input__text {
    font-size: 1.3em;

    background-color: black;
    color: white;
    border-radius: 1em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.input__btn {
    font-size: 1.3em;
    margin-left: 1em;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;

    background-color: black;
    color: white;
}
