{% extends 'base_page.html' %}

{% load static %}

{% block title %}
    {{ parking.name }}
{% endblock %}


{% block content %}

    <div class="content-wrapper">

        <div class="page-details-wrapper">

            <a class="return-link" href="/">Назад</a>

            <div class="left">

                <img src="http://127.0.0.1:9000/images/{{ parking.image }}">

            </div>

            <div class="right">

                <div class="info-container">

                    <h2 class="name">{{ parking.name }}</h2>

                    <br>

                    <span class="description">{{ parking.description }}</span>
                    <span>Адресс: {{ parking.address }}</span>
                    <span>Количество мест: {{ parking.places_count }}</span>

                </div>

            </div>

        </div>

    </div>

{% endblock %}